.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.left-section-header{
  padding-left: 40px;
  padding-top: 40px;
}

.left-section-header h1 {
  font-size: 3rem;

  /* font-family: 'Alumni Sans Inline One', cursive; */
  /* font-family: 'Fugaz One', cursive; */
  /* font-family: 'Lilita One', cursive; */
  font-family: 'Monoton', cursive;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Rubik Wet Paint', cursive;  */

  color: rgb(18, 96, 198);
}

.left-section-header p {
  color: gray;
  font-family: 'Poppins', sans-serif;
}

#bg-image {
  width: 100%;
}

.right-section {
  background: #4598f4;
  background: -webkit-linear-gradient(to right, #4598f4, #9d58fa);
  background: linear-gradient(to right, #4598f4, #9d58fa);
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
}

.right-section-body{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.date-item-container {
  display: flex;
  justify-content: space-between;
  /* padding: ; */
}

.date-item {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.date-item-value {
  font-weight: bold;
  font-size: 3rem;
}

#horizontal{
  border: 2px solid white;
  width: 90%;
}

.right-section h1{
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.email-sub-container{
  background-color: white;
  padding: 5px 20px;
  padding-right: 5px;
  display: flex;
  border-radius: 30px;
  gap: 5px;
}

.email-sub-container input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.email-sub-container button{
  border: none;
  outline: none;
  background: #4598f4;
  background: -webkit-linear-gradient(to left, #4598f4, #9d58fa);
  background: linear-gradient(to left, #4598f4, #9d58fa);
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  user-select: none;
}

.email-sub-container button:hover{
  background: #093970;
  cursor: pointer;
}

.right-section-footer{
  padding: 40px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: white;
  font-size: 24px;
}

.right-section-footer a{
  color: white;
  text-decoration: none;
}

.right-section-footer a:hover{
  transition: .5s;
  transform: translateY(-5px);
}

